.custom-selection {
	position: relative;
}

img.custom-selection {
	position: relative;
	outline: 0.4rem solid rgba(89, 87, 214, 0.2);
}

.custom-selection:after {
	content: "";
	position: absolute;
	left: -0.4rem;
	right: -0.4rem;
	top: -0.4rem;
	bottom: -0.4rem;
	background: rgba(89, 87, 214, 0.2);
	pointer-events: none;
}

li.custom-selection:after {
	left: -2rem;
}
